<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <script type="text/javascript"  src="https://maps.google.com/maps/api/js?sensor=false"></script>
    <%=stylesheet_link_tag 'application', media: 'all' %>
    <%=javascript_include_tag 'application' %>
    <%=csrf_meta_tags %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="mastermind">
    <meta name="author" content="thekkarol">

  <title>The artrist The creator</title>

    <!-- Mobile Specific Meta
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png" /> -->


</head>

<body id="body" data-spy="scroll" data-target=".navbar" data-offset="50">
<!--
Start Preloader
==================================== -->
<div id="preloader">
    <div class="preloader">
        <div class="sk-cube-grid">
            <div class="sk-cube sk-cube1"></div>
            <div class="sk-cube sk-cube2"></div>
            <div class="sk-cube sk-cube3"></div>
            <div class="sk-cube sk-cube4"></div>
            <div class="sk-cube sk-cube5"></div>
            <div class="sk-cube sk-cube6"></div>
            <div class="sk-cube sk-cube7"></div>
            <div class="sk-cube sk-cube8"></div>
            <div class="sk-cube sk-cube9"></div>
        </div>
    </div>
</div>
<!--
End Preloader
==================================== -->

<!--
Welcome Slider
==================================== -->

<section class="hero-area">
    <div class="block">
        <div class="logo-button">
            <!--<i class="tf-ion-play"></i>-->
          M
        </div>
        <h1>Nice N'sleazy does it every time</h1>
        <p>Experience The New Reality. Lorem ipsum dolor sit amet consectetur adipisicing elit.  Fugit, excepturi. At recusandae sit perferendis autem,iste tempora nostrum numquam sapiente!</p>
        <a data-scroll href="#about" class="btn btn-transparent">Explore Me</a>
    </div>
</section>

<!--
 Fixed Navigation
 ==================================== -->
<header id="navigation" class="navbar navigation">
    <div class="container">
        <div class="navbar-header">
            <!-- responsive nav button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- /responsive nav button -->

            <!-- logo -->
            <a class="navbar-brand logo" href="#body">
                <!-- <img src="assets/logo.png" alt="Website Logo" /> -->
              <div class="logo-button nav">
                M
              </div>
            </a>
            <!-- /logo -->
        </div>

        <!-- main nav -->
        <nav class="collapse navbar-collapse navbar-right" role="Navigation">
            <ul id="nav" class="nav navbar-nav navigation-menu">
                <li><a data-scroll href="#body">Home</a></li>
                <li><a data-scroll href="#about">The artist</a></li>
                <li><a data-scroll href="#tattoo">Tattoo</a></li>
                <li><a data-scroll href="#art">Art</a></li>
                <li><a data-scroll href="#contact">Contact</a></li>
            </ul>
        </nav>
        <!-- /main nav -->

    </div>
</header>
<!--
End Fixed Navigation
==================================== -->

<!--
		Start About Section
		==================================== -->
<section class="bg-one about section">
    <div class="container">
        <div class="row">

            <!-- section title -->
            <div class="title text-center wow fadeIn" data-wow-duration="1500ms" >
                <h2>The <span class="color">Artist</span> </h2>
                <div class="border"></div>
            </div>
            <!-- /section title -->

            <!-- About item -->
            <div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" >
                <div class="block">
                    <div class="icon-box">
                        <i class="tf-tools"></i>
                    </div>
                    <!-- Express About Yourself -->
                    <div class="content text-center">
                        <h3 class="ddd">He's Creative</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, nihil, libero, perspiciatis eos provident laborum eum dignissimos</p>
                    </div>
                </div>
            </div>
            <!-- End About item -->

            <!-- About item -->
            <div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="250ms">
                <div class="block">
                    <div class="icon-box">
                        <i class="tf-strategy"></i>
                    </div>
                    <!-- Express About Yourself -->
                    <div class="content text-center">
                        <h3>He's Visionary</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, nihil, libero, perspiciatis eos provident laborum eum dignissimos</p>
                    </div>
                </div>
            </div>
            <!-- End About item -->

            <!-- About item -->
            <div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
                <div class="block kill-margin-bottom">
                    <div class="icon-box">
                        <i class="tf-anchor2"></i>
                    </div>
                    <!-- Express About Yourself -->
                    <div class="content text-center">
                        <h3>He's Powerful</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, nihil, libero, perspiciatis eos provident laborum eum dignissimos</p>
                    </div>
                </div>
            </div>
            <!-- End About item -->

        </div> 		<!-- End row -->
    </div>   	<!-- End container -->
</section>   <!-- End section -->

<section class="section about-2 padding-0 bg-dark" id="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 padding-0 ">
                <img class="img-responsive" src="assets/about/about-business-man.jpg" alt="">
            </div>
            <div class="col-md-6">
                <div class="content-block">
                    <h1>Otysz Otyszecki</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam tempora itaque, autem dolores culpa cum mollitia voluptate nesciunt voluptatibus quasi.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis eveniet vel et mollitia nemo corporis sed ut, exercitationem incidunt, rerum nam doloremque quos ratione doloribus, officiis adipisci error quasi soluta?</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore, magnam.</p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="media">
                                <div class="pull-left">
                                    <i class="tf-circle-compass"></i>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Mój Pan</h4>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus consectetur dolores repellendus eos saepe</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="media">
                                <div class="pull-left">
                                    <i class="tf-hotairballoon"></i>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Na własnym</h4>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus consectetur dolores repellendus </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--
Start Call To Action
==================================== -->
<section class="call-to-action section-sm bg-1 overly">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Great Designed & Incredible Quality Tattoos </h2>
                <p>  A tattoo is graffiti on the temple of the body. <br> Strong and one of a kind. </p>
                <a href="#contact" class="btn btn-main">Get one</a>
            </div>
        </div> 		<!-- End row -->
    </div>   	<!-- End container -->
</section>   <!-- End section -->

<!-- Start Tattoo Portfolio Section
==================================== -->

<section class="portfolio bg-one section" id="tattoo">
  <div class="container">
    <div class="row " >
      <div class="col-lg-12">

        <!-- section title -->
        <div class="title text-center">
          <h2>Tattoo <span class="color">Portfolio</span></h2>
          <div class="border"></div>
        </div>
        <!-- /section title -->
      </div> <!-- /end col-lg-12 -->
    </div> <!-- end row -->
    <div class="row">
      <div class="col-md-12">
        <div class="portfolio-filter">
          <button  type="button" data-filter="all">All</button>
          <button type="button" data-filter=".one">Type1</button>
          <button type="button" data-filter=".two">Type2</button>
          <button type="button" data-filter=".three">Type3</button>
        </div>
      </div>
    </div>
    <div class="row portfolio-items-wrapper">
      <div class="mix col-md-4 one">
        <div class="portfolio-block">
          <img class="img-responsive" src="assets/portfolio/tattoo1.jpg" alt="">
          <div class="caption">
            <a class="search-icon image-popup" data-effect="mfp-with-zoom" href="assets/portfolio/tattoo1.jpg" data-lightbox="image-1">
              <i class="tf-ion-android-search"></i>
            </a>
            <h4><a href="">Tattoo</a></h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, nemo!</p>
          </div>
        </div>
      </div>
      <div class="mix col-md-4 one">
        <div class="portfolio-block">
          <img class="img-responsive" src="assets/portfolio/tattoo2.jpg" alt="">
          <div class="caption">
            <a class="search-icon image-popup" data-effect="mfp-with-zoom" href="assets/portfolio/tattoo2.jpg" data-lightbox="image-1">
              <i class="tf-ion-android-search"></i>
            </a>
            <h4><a href="">Tattoo</a></h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, nemo!</p>
          </div>
        </div>
      </div>
      <div class="mix col-md-4 two">
        <div class="portfolio-block">
          <img class="img-responsive" src="assets/portfolio/tattoo4.jpg" alt="">
          <div class="caption">
            <a class="search-icon image-popup" data-effect="mfp-with-zoom" href="assets/portfolio/tattoo4.jpg" data-lightbox="image-1">
              <i class="tf-ion-android-search"></i>
            </a>
            <h4><a href="">Tattoo</a></h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, nemo!</p>
          </div>
        </div>
      </div>
      <div class="mix col-md-4 two">
        <div class="portfolio-block">
          <img class="img-responsive" src="assets/portfolio/tattoo5.jpg" alt="">
          <div class="caption">
            <a class="search-icon image-popup" data-effect="mfp-with-zoom" href="assets/portfolio/tattoo5.jpg" data-lightbox="image-1">
              <i class="tf-ion-android-search"></i>
            </a>
            <h4><a href="">Tattoo</a></h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, nemo!</p>
          </div>
        </div>
      </div>
      <div class="mix col-md-4 three" >
        <div class="portfolio-block">
          <img class="img-responsive" src="assets/portfolio/tattoo6.jpg" alt="">
          <div class="caption">
            <a class="search-icon image-popup" data-effect="mfp-with-zoom" href="assets/portfolio/tattoo6.jpg" data-lightbox="image-1">
              <i class="tf-ion-android-search"></i>
            </a>
            <h4><a href="">Tattoo</a></h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, nemo!</p>
          </div>
        </div>
      </div>
      <div class="mix col-md-4 three">
        <div class="portfolio-block">
          <img class="img-responsive" src="assets/portfolio/tattoo7.jpg" alt="">
          <div class="caption">
            <a class="search-icon image-popup" data-effect="mfp-with-zoom" href="assets/portfolio/tattoo7.jpg" data-lightbox="image-1">
              <i class="tf-ion-android-search"></i>
            </a>
            <h4><a href="">Tattoo</a></h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, nemo!</p>
          </div>
        </div>
      </div>
      <div class="mix col-md-4 three">
        <div class="portfolio-block">
          <img class="img-responsive" src="assets/portfolio/tattoo8.jpg" alt="">
          <div class="caption">
            <a class="search-icon image-popup" data-effect="mfp-with-zoom" href="assets/portfolio/tattoo8.jpg" data-lightbox="image-1">
              <i class="tf-ion-android-search"></i>
            </a>
            <h4><a href="">Tattoo</a></h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, nemo!</p>
          </div>
        </div>
      </div>
      <div class="mix col-md-4  three">
        <div class="portfolio-block">
          <img class="img-responsive" src="assets/portfolio/tattoo9.jpg" alt="">
          <div class="caption">
            <a class="search-icon image-popup" data-effect="mfp-with-zoom" href="assets/portfolio/tattoo9.jpg" data-lightbox="image-1">
              <i class="tf-ion-android-search"></i>
            </a>
            <h4><a href="">Tattoo</a></h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, nemo!</p>
          </div>
        </div>
      </div>

    </div>



  </div>	<!-- end container -->
</section>   <!-- End section -->


<!--
Start Counter Section
==================================== -->

<section id="counter" class="parallax-section bg-1 section overly">
    <div class="container">
        <div class="row">

            <!-- first count item -->
            <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms">
                <div class="counters-item">
                    <i class="tf-ion-android-happy"></i>
                    <span data-speed="3000" data-to="320">320</span>
                    <h3>Happy Clients</h3>
                </div>
            </div>
            <!-- end first count item -->

            <!-- second count item -->
            <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="200ms">
                <div class="counters-item">
                    <i class="tf-ion-archive"></i>
                    <span data-speed="3000" data-to="565">565</span>
                    <h3>Projects completed</h3>
                </div>
            </div>
            <!-- end second count item -->

            <!-- third count item -->
            <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="400ms">
                <div class="counters-item">
                    <i class="tf-ion-thumbsup"></i>
                    <span data-speed="3000" data-to="95">95</span>
                    <h3>Positive feedback</h3>

                </div>
            </div>
            <!-- end third count item -->

            <!-- fourth count item -->
            <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
                <div class="counters-item kill-margin-bottom">
                    <i class="tf-ion-coffee"></i>
                    <span data-speed="3000" data-to="2500">2500</span>
                    <h3>Joints smoked</h3>
                </div>
            </div>
            <!-- end fourth count item -->

        </div> 		<!-- end row -->
    </div>   	<!-- end container -->
</section>   <!-- end section -->


<!-- Srart Contact Us
=========================================== -->
<section id="contact" class="contact bg-one">
    <div class="container">
        <div class="row">

            <!-- section title -->
            <div class="title text-center wow fadeIn" data-wow-duration="500ms">
                <h2>Get In <span class="color">Touch</span></h2>
                <div class="border"></div>
            </div>
            <!-- /section title -->

            <!-- Contact Details -->
            <div class="contact-info col-md-6 wow fadeInUp" data-wow-duration="500ms">
                <h3>Contact Details</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, vero, provident, eum eligendi blanditiis ex explicabo vitae nostrum facilis asperiores dolorem illo officiis ratione vel fugiat dicta laboriosam labore adipisci.</p>
                <div class="contact-details">
                    <div class="con-info clearfix">
                        <i class="tf-map-pin"></i>
                        <span>Borowego 15, Warsaw, Poland</span>
                    </div>

                    <div class="con-info clearfix">
                        <i class="tf-ion-ios-telephone-outline"></i>
                        <span>Phone: +880-31-000-000</span>
                    </div>

                    <div class="con-info clearfix">
                        <i class="tf-ion-ios-email-outline"></i>
                        <span>Email: hello@otyszewski.com</span>
                    </div>
                </div>
            </div>
            <!-- / End Contact Details -->

            <!-- Contact Form -->
            <div class="contact-form col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                <form id="contact-form" method="post" action="sendmail.php" role="form">

                    <div class="form-group">
                        <input type="text" placeholder="Your Name" class="form-control" name="name" id="name">
                    </div>

                    <div class="form-group">
                        <input type="email" placeholder="Your Email" class="form-control" name="email" id="email">
                    </div>

                    <div class="form-group">
                        <input type="text" placeholder="Subject" class="form-control" name="subject" id="subject">
                    </div>

                    <div class="form-group">
                        <textarea rows="6" placeholder="Message" class="form-control" name="message" id="message"></textarea>
                    </div>

                    <div id="mail-success" class="success">
                        Thank you. The Mailman is on His Way :)
                    </div>

                    <div id="mail-fail" class="error">
                        Sorry, don't know what happened. Try later :(
                    </div>

                    <div id="cf-submit">
                        <input type="submit" id="contact-submit" class="btn btn-transparent" value="Submit">
                    </div>

                </form>
            </div>
            <!-- ./End Contact Form -->

        </div> <!-- end row -->
    </div> <!-- end container -->

    <!-- Google Map -->
    <div class="google-map">
        <div id="map-canvas"></div>
    </div>
    <!-- /Google Map -->

</section> <!-- end section -->





<!-- end Contact Area
========================================== -->

<footer id="footer" class="bg-one">
    <div class="container">
        <div class="row wow fadeInUp" data-wow-duration="500ms">
            <div class="col-lg-12">

                <!-- Footer Social Links -->
                <div class="social-icon">
                    <ul class="list-inline">
                        <li><a href="https://www.facebook.com/otysz/"><i class="tf-ion-social-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/otyszecki/"><i class="tf-ion-social-instagram"></i></a></li>
                        <!--<li><a href="#"><i class="tf-ion-social-twitter"></i></a></li>-->
                        <!--<li><a href="#"><i class="tf-ion-social-google-outline"></i></a></li>-->
                        <!--<li><a href="#"><i class="tf-ion-social-youtube"></i></a></li>-->
                        <!--<li><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>-->
                        <!--<li><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>-->
                        <!--<li><a href="#"><i class="tf-ion-social-pinterest-outline"></i></a></li>-->
                    </ul>
                </div>
                <!--/. End Footer Social Links -->

                <!-- copyright -->
                <div class="copyright text-center">
                    <a href="#body">
                      <div class="logo-button">
                        <!--<i class="tf-ion-play"></i>-->
                        M
                      </div>
                    </a>
                    <br />
                </div>
                <!-- /copyright -->

            </div> <!-- end col lg 12 -->
        </div> <!-- end row -->
    </div> <!-- end container -->
</footer> <!-- end footer -->

</body>
</html>